# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Drizzle
drizzle/meta/

# Test artifacts
coverage/
